{% extends 'ProductDefaultBundle:Base:base.html.twig' %}

{% block bodycontent %}
<h1 class="title-align-horizontal">
    Product creation
</h1>
<a class="btn btn-primary btn-primary-modified btn-margin" href="{{ path('product_index') }}" style="position: fixed;">
    < Back to the list
</a>
<div class="form-align-horizontal">
    {{ form_start(form) }}
        {{ form_widget(form) }}
    <input class="btn btn-primary btn-primary-modified" type="submit" value="Create"/>
    {{ form_end(form) }}
</div>
{% endblock %}
