table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 50%;
    margin: auto;
}

td, th {
    border: 1px solid #f0f0f0;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

#searchinput {
    background-image: url('/img/search.png');
    background-size: 30px;
    background-position: 5px 2px;
    background-repeat: no-repeat;
    text-indent: 30px;
}

#searchclear {
    position: absolute;
    right: 5px;
    top: 0;
    bottom: 0;
    height: 14px;
    margin: auto;
    font-size: 14px;
    cursor: pointer;
    color: #ccc;
    z-index: 4;
    margin-right: 60px;
}

#loginRegisterGroup {
    min-width: 300px;
}

.left-addon .glyphicon {
    left: 0px;
}

.right-addon .glyphicon {
    right: 0px;
}

.left-addon input {
    padding-left: 30px;
}

.right-addon input {
    padding-right: 30px;
}

.btn-primary-modified {
    line-height: 30px;
    min-width: 200px;
}

.btn-danger-modified {
    line-height: 30px;
    min-width: 200px;
}

.btn-secondary-modified {
    background-color: #dfdfdf;
    color: black;
}

.btn-primary-modified:hover {
    text-decoration: none;
    color: #000000;
    background-color: #97F5FB;
}

.btn-danger-modified:hover {
    text-decoration: none;
    background-color: #760000;
}

.btn-secondary-modified:hover {
    text-decoration: none;
    background-color: #676767;
    color: white;
}

.btn-margin {
    margin: 5px;
}

.btn-margin-left {
    margin-left: 15px;
}

.button-align-horizontal {
    display: table;
    margin: auto;
}

.title-align-horizontal {
    width: 100%;
    text-align: center;
}

.form-align-horizontal {
    width: 50%;
    margin: auto;
}

.btn-align-right {
    float: right;
}

.margin-input-group {
    margin: 5px;
}

.title-text {
    width: 100%;
    text-align: center;
}

.loginregisterbuttons {
    position: fixed;
    float: right;
    right: 25px;
    top: 25px;
}

.loginregisterform {
    position: fixed;
    right: 25px;
    top: 60px;
    z-index: 5;
    background-color: #bdb9b9;
    border-radius: 10px;
}

.loginregisterformpadding {
    padding: 10px;
}

.user-text {
    position: fixed;
    top: 25px;
    right: 110px;
}

.logo {
    margin: auto;
    font-size: 35px;
    color: black;
}

.logo:hover {
    text-decoration: none;
    color: white;
}

.component-selector {
    max-height: 300px;
    overflow: auto;
}

.red-warning-text {
    color: red;
}

.entity-toggle {
    margin:auto;
}

.entity-text-selected {
    margin: auto;
    margin-right: 5px;
    margin-left: 5px;
    border-width: 1px;
    border-color: #2e6da4;
    border-style: solid;
    background-color: #337ab7;
    border-radius: 5px;
    color: white;
}

.entity-text-notselected {
    margin: auto;
    margin-right: 5px;
    margin-left: 5px;
    border-width: 1px;
    border-color: #2e6da4;
    border-style: solid;
    background-color: #dfdfdf;
    border-radius: 5px;
}

.dashboard-buttons {
    text-align: center;
    vertical-align: middle
}

.btn-dashboard {
    width: 300px;
    height: 150px;
    margin: 15px;
    font-size: 40px;
}

.header-switch {
    display: table;
    margin: auto;
    margin-bottom: 5px;
}