{% extends 'PCBuildMainBundle:Base:_layout.html.twig' %}
{% block bodycontent %}
<h1 class="title-align-horizontal">
    Dashboard
</h1>
<div class="dashboard-buttons">
    <button id="builds" class="btn btn-primary btn-dashboard">
        Builds
    </button>
    <button id="components" class="btn btn-primary btn-dashboard">
        Components
    </button>
</div>
{% endblock %}
